
*{
    margin:0;
    padding: 0;
}

/* topbar style start */
.top_bar{
    background-color: rgb(7, 0, 0);
    color:#11e8f0;
    padding:10px 0;
    justify-content: space-between;
}
.container{
    width:85%;
    margin:auto;

}
.top_bar .container{
    color:rgb(20, 245, 245);
    display: flex;
    justify-content:space-between;
    width:95%;

}

.top_bar ul{
    list-style: none;
    display:flex;
    gap:20px;

}
.top_bar i{
font-size: 12px;
}
@media screen  and (max-width: 534px){
    .top_bar{
display: none;
    }
    
}
/* topbar style end */


/* header style starts */

.header_section{
    background-color: rgb(11, 247, 196);
    padding:20px 0;

    /* box shadow from css shadow scan site */
    box-shadow: rgba(167, 233, 60, 0.4) 5px 5px, rgba(133, 240, 46, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

.header_section .logo h2 {

    color:rgba(15, 1, 1, 0.726);
    font-variant:small-caps;
    font-style:italic;
    font-size: 25px;
    

}
.header_section .container{
    justify-content: center;
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.header_section ul{
    list-style:none;
    display: flex;
    gap:10px;
}
.header_section ul li{
    
    padding:5px 2px;
    text-transform: uppercase;

}
.header_section ul li:hover{
    background-color: rgb(5, 129, 105);

    color:rgb(5, 0, 0);
    cursor:pointer;
    z-index: 1000

}

/* header style ends */

.nav_link{
    position: relative;
}

.header_section .dropdown{
    background-color: rgb(109, 255, 231);
    color: rgb(14, 29, 1);
    display: none;
    padding:10px;
    margin-left:-20px;
    position: absolute;
    width:180px;
    top: 55px;
}
.header_section .dropdown li{
    font-size: 11px;

}

.nav_link:hover .dropdown{
    display: block;
}

.nav_linkk{
    position:relative;
}
.nav_linkk:hover .dropdown{
    display:block;
    z-index: 1000;

}
.menu_bar{
    display: none;
}
.menu_bar i{
    font-size: 25px;
    cursor:pointer;
}

@media screen and (max-width:808px) {
    .container{
        width:95%;
        /* margin:auto; */
    
}
}
@media screen  and (max-width:808px)
{
   .nav_elements ul{
    display:none;
   }

.menu_bar{
    display:block;
}}
/* hero section starts */
@media screen  and (max-width: 534px){
.header_section{
    background-color: black;
    color:white;
}
}
    

.hero_section{
    background-color: rgb(11, 247, 196);
    color:rgb(24, 19, 19);
    position:relative;
}

.hero_section .overlay{
    height: 700px;
    width:100%;
    background:url(./image/pexels-photo-12709063.jfif);
    /* if image is repeated then- no repeat after () of above */
    background-size: cover;
    opacity:1;
}

.hero_section_content{
    position:absolute;
    top:9%;
    left:6%;
}
.hero_section_content h1{
    font-size:24px ;
    color: rgb(11, 247, 196);
    font-size: large;
    text-transform: uppercase;
    text-decoration:dotted;
    
}
.hero_section_content pr{
    font-size: 18px;
    /* font-style: italic; */
    padding:20px 0px;
    color: rgb(74, 243, 206);

}

.hero_section_content button{
    border:none;
    color:black;
     background-color:blanchedalmond;
    background-color:
    padding: 15px 25px;
    font-size: 15px;
}
/* hero section ends */
@media screen and (max-width: 534px) {
    .hero_section .overlay{
        height:500px;
    }
.hero_section_content{
    top:15%;
    left:5%;
}    
    
}

/* course highlights start */
.course_highlights {
position:relative;
top:-50px;    
}

.course_highlights .container{
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
    /* no need for media query if wrapped */
row-gap:30px;
}
.course_card{
    width:320px;
    box-shadow: rgba(109, 252, 252, 0.4) -5px 5px, rgba(134, 251, 255, 0.3) -10px 10px, rgba(103, 241, 223, 0.2) -15px 15px, rgba(57, 235, 248, 0.1) -20px 20px, rgba(16, 165, 224, 0.05) -25px 25px;
padding:0px 20px;
}

.course_card h4{
    background-color: rgb(5, 5, 5);
    color:white;
    text-align:center;
    padding: 10px 0;

}
.course_card p{
    padding: 15px;
    
}

.course_card button{
    border:none;
    padding:5px 10px;
    margin:5px, 15px, 15px, 15px;
    background-color: black;
    color:rgb(252, 247, 250);
    cursor:pointer;
}

/* @media  screen and (max-width:1035px) {
wrap done so no need of media query
    
} */
/* course highlights ends */

/* popular course starts */
.popular_course{
    /* padding:50px; */
    margin-top: -30px;
    background-color: black;
    color: rgb(11, 247, 196);


}

/* .popular_course .container .course_cardd{ */
    /* box-shadow: rgba(47, 255, 220, 0.4) 5px 5px, rgba(33, 255, 236, 0.3) 10px 10px, rgba(79, 227, 253, 0.2) 15px 15px, rgba(144, 247, 241, 0.1) 20px 20px, rgba(100, 248, 204, 0.05) 25px 25px; */
/* } */


.popular_course .container{
    display: flex;
    justify-content: center;
    gap:50px;
    flex-wrap:wrap;

}
.head{
    text-align: center;
    padding:30px;
}
.head h2{
    font-size: 40px;
    color: rgb(11, 247, 196);

}
.popular_course .container h4{
    color: rgb(11, 247, 196);

}

.head h2::before{
    content:"";
    width:50px;
    height:4px;
    background-color:bisque;
    display:block;
    margin:20px auto;
}
.popular_course .course_card img{
    width:100%;
}

.popular_course .course_card h4{
    text-align:center;
    font-size:19px;
    padding:20px;
}

.popular_course .course_card {
    margin-top: 20px;
    color:white;

}


.author{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: ;
    padding-left:20px;

}


.author .author_image{
    margin-top:5px ;
}
.author .author_image img{
height:50px;
width:50px;
border-radius: 50%;
}

.author_name{
    padding-top:20px;
    vertical-align: bottom;

}
.author_name .name{
    font-size: 17px;
    font-weight: 550;
/* margin-bottom: -50px; */
color: rgb(11, 247, 196);

}
/* .author_name .name span{
    color: aqua;
} */
.price{
    background-color:black;
    color: rgb(11, 247, 196);
    padding: 20px;

}
.price p{
    font-size: 15px;
    font-weight: 550; 
    padding-top: 20px;
}
/* popular  course style ends here */

.mid_section{
    background-color: black;
    color:white;
    padding:100px;
    margin-top:70px;
    margin-top: 4%;
    text-align: center;

}
.mid_section .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 10px;
}


.mid_section .button{
    border: none;
    padding:15px 30px;
    text-transform: uppercase;
font-size: 18px;
cursor: pointer;
border:1px solid white;
}

.mid_section .button:hover{
    background-color: transparent;
    color: white;
}



/* testinmonical starts */
.testimonical_section{
/* margin-top:20px; */
background-color: black;
text-align: center;
/* for background image */
 /* background:url(./image/eren\ and\ mikasa.jfif) no-repeat;  */
 /* padding:20px 0;  */
 background:url(./image/mikasa\ bw.png);
 background-position: center;
 padding:20px 0 30px 0;
}
.testimonical_section h2{
    color:white;
}
.testimonical_section h2::before{
    background-color: white;
}

.testimonical_section .testi_image img{
    height: 120px;
    width:120px;
    border-radius: 20%;
    /* 0% then the pic will be in square form, 50% then the pic will be in circular form ig */
}

.testimonical_card p{
    font-size: 18px;
    padding:20px;
    color:white;

    
}

.testimonical_card p i{
    font-size: 30px;
}

.name_and_postion  h4{
    font-size:22px;
    padding-top: 15px;
    color:white;
}
/* testimonical ends */

/* footer section styling starts */
.footer_section{
    /* color:white; */
    background-color: black;
    margin-top: 3%;
}
.footer_section .container{
    display:flex;
    justify-content: space-between;
    color:white;
    padding:40px 0;
    flex-wrap: wrap;
    row-gap:30px;

}
.footer_link h4{
 font-size:22px;
 padding-bottom: 10px;   
}
 .footer_section ul{
    list-style:none;
}
.footer_section ul li{
    padding: 3px 0;
}



.footer_section .social_icons ul{
    display:flex;
    gap:20px;
}
.footer_section .social_icons li{
    height:35px;
    width:35px;
    border-radius:50%;
    padding: 0;
    background-color: white;
    color:black;
}
.footer_section .social_icons li i {
    margin-top: 10px;
    font-size:14px;

}
.footer_section p{
    text-align: center;
    color: white;
    background-color: black;
    width:85%;
    text-align:center;
    margin-top: 40px;
    border-top:3px solid cornflowerblue;
    padding-top:40px;
    margin: auto;
}
.footer_section .container p{
    color:white;
}